In [ ]:
# READ AND WRITE CSV

# while importing csv files, file may not be formatted eg. missing column names, etc

import pandas as pd
# df = pd.read_csv('filename.csv', header=1, skiprows=1, header=None, names=['xys','a','b'], nrows=3)

#use either header=1 or skiprows=1 to skip first row of column
#use header=None will assign numerical value to column names, if file does not have a column name row.
#name=['xyz','x'] will assign column names
#nrows=3 will read only 3 rows

In [21]:
# Filling not available kind of values 
df = pd.read_csv('stock_data.csv', na_values=['not available', 'n.a.']) #na_values will return NaN for specificied values
# revenue of a company cannot be -1 i.e. negative, for this we use dictionaries for differnt columns
df = pd.read_csv('stock_data.csv', na_values={
    'eps' : ['not available', 'n.a.'],
    'revenue' : ['not available', 'n.a.',-1],
    'people' : ['not available', 'n.a.'],
    'price' : ['not available', 'n.a.']
})
df

  tickers    eps  revenue   price         people
0   GOOGL  27.82     87.0   845.0     larry page
1     WMT   4.61    484.0    65.0            NaN
2    MSFT  -1.00     85.0    64.0     bill gates
3    RIL     NaN     50.0  1023.0  mukesh ambani
4    TATA   5.60      NaN     NaN     ratan tata

In [27]:
# WRITING TO CSV FILES

df.to_csv('new.csv', index=False)
#index=False will not write index to the new file
df.to_csv('new.csv', header=False, columns=['tickers','eps'])
#columns argument will write only selected columns. It is used when only specific columns are reuired for the analysis.

In [42]:
# READ AND WRITE EXCEL

#we will write a function to convert n.a. values to specific values
def converter_people_cell(cell):
    if cell=='n.a.':
        return 'Ankit Singh'
    return cell

def converter_eps_cell(cell):
    if cell=='not available':
        return 'Data not found'
    return cell

df = pd.read_excel('stock_data.xlsx', 'Sheet1', converters={
    'people' :  converter_people_cell,
    'eps' : converter_eps_cell
}) # converters take form of dictionaries
df

  tickers             eps  revenue price         people
0   GOOGL           27.82       87   845     larry page
1     WMT            4.61      484    65    Ankit Singh
2    MSFT              -1       85    64     bill gates
3    RIL   Data not found       50  1023  mukesh ambani
4    TATA             5.6       -1  n.a.     ratan tata

In [49]:
#writing JUST ONE datafarme to excel

df.to_excel('new.xlsx', sheet_name='stocks', index=False, startrow=1, startcol=1)
#startrow=1 will leave leave row0 i.e. first row blank
#startcol=1 same as above

In [53]:
#writing TWO datafarme to excel

#lets create 2 dataframes first:
df_stocks = pd.DataFrame({
    'tickers': ['GOOGL', 'WMT', 'MSFT'],
    'price': [845, 65, 64 ],
    'pe': [30.37, 14.26, 30.97],
    'eps': [27.82, 4.61, 2.12]
})

df_weather =  pd.DataFrame({
    'day': ['1/1/2017','1/2/2017','1/3/2017'],
    'temperature': [32,35,28],
    'event': ['Rain', 'Sunny', 'Snow']
})

#to write these to 1 excel in 2 diff sheet, we use ExcelWriter class
with pd.ExcelWriter('stocks and weather.xlsx') as writer:
    df_stocks.to_excel(writer, sheet_name='stocks')
    df_weather.to_excel(writer, sheet_name='weather')