In [49]:
'''
Shift method can be called on dataframe or on time series.
Common USE of Shift in Fianance is to find the % change.

-------
Code for:
-calculate price change in 1 day
-calculate % change in 5 days
--------
-Shift the dates
    -shifting the dates of shares will use freq 'B' as stocks dont trade on weekends
    -manually create a new date time index for freq 'B'. You shpould also include holidays also
    -tshift function will shift the dates and not the data points
'''
import pandas as pd
df = pd.read_csv('fb.csv', parse_dates=['Date'], index_col='Date')
df.head(5)

             Price
Date
2017-08-15  171.00
2017-08-16  170.00
2017-08-17  166.91
2017-08-18  167.41
2017-08-21  167.78

In [50]:
df.shift(2).head(5) #for backward shift use negative values
#df['Qty'] = df['Qty'].shift(3) # columns other than index individually can be shifted using this

             Price
Date
2017-08-15     NaN
2017-08-16     NaN
2017-08-17  171.00
2017-08-18  170.00
2017-08-21  166.91

In [51]:
df['Prev Day Price'] = df['Price'].shift(1) #new column for prev day price created
df.head(5)

             Price  Prev Day Price
Date
2017-08-15  171.00             NaN
2017-08-16  170.00          171.00
2017-08-17  166.91          170.00
2017-08-18  167.41          166.91
2017-08-21  167.78          167.41

In [52]:
df['1D Change'] = df['Price'] - df['Prev Day Price'] #1D change column created
df.head(5)

             Price  Prev Day Price  1D Change
Date
2017-08-15  171.00             NaN        NaN
2017-08-16  170.00          171.00      -1.00
2017-08-17  166.91          170.00      -3.09
2017-08-18  167.41          166.91       0.50
2017-08-21  167.78          167.41       0.37

In [53]:
df['5D % change'] = (df['Price'] - df['Price'].shift(5))*100/df['Price']
df.tail(5)

             Price  Prev Day Price  1D Change  5D % change
Date
2017-08-22  169.64          167.78       1.86    -0.801698
2017-08-23  168.71          169.64      -0.93    -0.764626
2017-08-24  167.74          168.71      -0.97     0.494813
2017-08-25  166.32          167.74      -1.42    -0.655363
2017-08-28  167.24          166.32       0.92    -0.322889

In [54]:
#Shift the dates
df.index #here freq is None, so if we shgift the dates they will be shifted to weekends also, so we create new index

DatetimeIndex(['2017-08-15', '2017-08-16', '2017-08-17', '2017-08-18',
               '2017-08-21', '2017-08-22', '2017-08-23', '2017-08-24',
               '2017-08-25', '2017-08-28'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [75]:
df.index = pd.date_range(start='2017-08-15', periods=len(df), freq='B') #index is changed with new date time index
df.head(5)

             Price  Prev Day Price  1D Change  5D % change
2017-08-15  171.00             NaN        NaN          NaN
2017-08-16  170.00          171.00      -1.00          NaN
2017-08-17  166.91          170.00      -3.09          NaN
2017-08-18  167.41          166.91       0.50          NaN
2017-08-21  167.78          167.41       0.37          NaN

In [76]:
df.tshift(1) # tshoft allows you to shift time index

             Price  Prev Day Price  1D Change  5D % change
2017-08-16  171.00             NaN        NaN          NaN
2017-08-17  170.00          171.00      -1.00          NaN
2017-08-18  166.91          170.00      -3.09          NaN
2017-08-21  167.41          166.91       0.50          NaN
2017-08-22  167.78          167.41       0.37          NaN
2017-08-23  169.64          167.78       1.86    -0.801698
2017-08-24  168.71          169.64      -0.93    -0.764626
2017-08-25  167.74          168.71      -0.97     0.494813
2017-08-28  166.32          167.74      -1.42    -0.655363
2017-08-29  167.24          166.32       0.92    -0.322889